::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-thumb {
    background: rgb(155, 164, 177);
    border-radius: 0.2em;
}

.main-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
}

.main-page-block {
    display: flex;
    flex-direction: column;
    width: 1300px;
    align-items: center;
}

.first-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1300px;
    align-items: flex-start;
    border-bottom-color: rgb(167, 167, 167);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 32px;
}

.text-block {
    margin-right: 10px;
}

.text-block-2 {
    margin-left: 10px;
}

.text-block h2,
.text-block-2 h2 {
    font-size: 20px;
}

ul {
    list-style-position: outside;
    padding-left: 17px;
}

.picture-1 {
    box-shadow: rgb(150, 150, 150) 1px 1px 23px 4px;
    border-radius: 10px;
    margin-left: 20px;
}

.picture-2 {
    height: 280px;
    box-shadow: rgb(150, 150, 150) 1px 1px 23px 4px;
    border-radius: 10px;
    margin-right: 20px;
}

.material-container {
    max-width: 1300px;
}

.materials-block-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    margin-left: 0;
    margin-right: 0;
    column-gap: 15px;
}

.materials-block-child {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(150, 150, 150) 1px 1px 23px 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: 0.2s;
}

.materials-block-child:hover {
    box-shadow: rgb(74, 74, 74) 1px 1px 23px 4px;
    transform: scale(0.98);
}

.material-picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.material-title {
    text-align: center;
    margin-bottom: 10px;
}

.text-material {
    padding: 5px;
    font-weight: 100;
}

@media (max-width: 1320px) {
    .first-paragraph {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 1300px) {
    .materials-block-parent {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 880px) {
    .first-paragraph {
        flex-direction: column;
    }
    .text-block-2 {
        margin-left: 0;
    }
    .materials-block-parent {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
    }
    .picture-1 {
        margin-left: 0;
        margin-top: 20px;
    }
    .picture-2 {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 448px) {
    .picture-1 {
        margin-left: 10px;
        margin-top: 15px;
    }
    .picture-2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .first-paragraph {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .materials-block-parent {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .materials-block-child {
        width: 100%;
    }
}