p {
    margin-top: 0;
    margin-bottom: 0;
}

.services-main-contaiber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services-border {
    display: block;
}

.paragraph-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 32px;
    margin-bottom: 20px;
    border-bottom-color: rgb(167, 167, 167);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.title-services {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 0px;
}

.text-block-services {
    margin: 0 0 10px 0;
}

.picture-services {
    height: 300px;
    box-shadow: rgb(150, 150, 150) 1px 1px 23px 4px;
    border-radius: 10px;
    margin: 10px 0 10px 20px;
}

.picture-services-2 {
    width: 400px;
    box-shadow: rgb(150, 150, 150) 1px 1px 23px 4px;
    border-radius: 10px;
    margin: 10px 0 10px 20px;
}

details {
    display: block;
    background: #fff;
    width: 100%;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

summary {
    display: block;
    padding: .3em 1em .3em .9em;
    border-bottom: 1px solid #e2e8f0;
    cursor: pointer;
    position: relative;
}

summary:before {
    top: .4em;
    right: .3em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1.5em 1.5em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform .5s;
}

details[open]>summary:before {
    transform: scale(1, -1);
}

summary~* {
    padding: 0 1em 10px 2.5em;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

summary:focus {
    outline: 0;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

@keyframes sweep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

summary:focus {
    outline: 0;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.spoller {
    background-color: rgb(229, 229, 229);
    font-size: 15px;
}

@media (max-width: 1320px) {
    .paragraph-services {
        margin-left: 13px;
        margin-right: 13px;
    }
}

@media (max-width: 1260px) {
    .picture-services-2 {
        width: 350px;
    }
}

@media (max-width: 1100px) {
    .paragraph-services {
        flex-direction: column;
    }
    .picture-services {
        height: auto;
        width: 400px;
        margin-left: 0;
        margin-right: 0;
    }
    .picture-services-2 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 520px) {
    .services-main-picture {
        width: 100%;
        height: auto;
    }
    .picture-services,
    .picture-services-2 {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 448px) {
    .paragraph-services {
        justify-items: center;
        margin-left: 13px;
        margin-right: 13px;
    }
    .services-main-picture {
        width: 95%;
        margin: 10px auto 10px;
    }
    .picture-services {
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .picture-services-2 {
        width: 100%;
        margin: 10px 0 10px 0;
    }
}